USE [master]
GO
/****** Object:  Database [Prueba]    Script Date: 14/09/2025 17:07:26 ******/
CREATE DATABASE [Prueba]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Prueba', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Prueba.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Prueba_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Prueba_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Prueba].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Prueba]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_costo_promedio_hora]    Script Date: 14/09/2025 17:07:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_costo_promedio_hora]
(
    @proyecto_id INT
)
RETURNS DECIMAL(12,2)
AS
BEGIN
    DECLARE @presupuesto DECIMAL(12,2), 
            @horas INT, 
            @resultado DECIMAL(12,2);

    -- Aquí uso la tabla correcta: 'proyecto'
    SELECT @presupuesto = presupuesto, 
           @horas = horas
    FROM dbo.proyecto
    WHERE id_proyecto = @proyecto_id;

    SET @resultado = CASE 
                        WHEN @horas > 0 THEN @presupuesto / @horas 
                        ELSE 0 
                     END;

    RETURN @resultado;
END;

GO
/****** Object:  UserDefinedFunction [dbo].[fn_PromedioExperienciaDocentes]    Script Date: 14/09/2025 17:07:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

----------------------------------------------------------
-- 3. FUNCIÓN DE PROMEDIO DE EXPERIENCIA (DOCENTES)
----------------------------------------------------------

CREATE FUNCTION [dbo].[fn_PromedioExperienciaDocentes]()
RETURNS FLOAT
AS
BEGIN
    DECLARE @promedio FLOAT;

    SELECT @promedio = AVG(CAST(anios_experiencia AS FLOAT)) FROM docentes;

    RETURN @promedio;
END;
GO
/****** Object:  Table [dbo].[copia_actualizados_tablaUU]    Script Date: 14/09/2025 17:07:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[copia_actualizados_tablaUU](
	[docente_id] [int] NULL,
	[nombres] [varchar](100) NULL,
	[titulo] [varchar](100) NULL,
	[anios_experiencia] [int] NULL,
	[direccion] [varchar](200) NULL,
	[tipo_docente] [varchar](50) NULL,
	[fecha_registro] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[copia_eliminados_tablaDD]    Script Date: 14/09/2025 17:07:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[copia_eliminados_tablaDD](
	[docente_id] [int] NULL,
	[nombres] [varchar](100) NULL,
	[titulo] [varchar](100) NULL,
	[anios_experiencia] [int] NULL,
	[direccion] [varchar](200) NULL,
	[tipo_docente] [varchar](50) NULL,
	[fecha_registro] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[docentes]    Script Date: 14/09/2025 17:07:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[docentes](
	[docente_id] [int] IDENTITY(1,1) NOT NULL,
	[nombres] [varchar](100) NOT NULL,
	[titulo] [varchar](100) NULL,
	[anios_experiencia] [int] NULL,
	[direccion] [varchar](200) NULL,
	[tipo_docente] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[docente_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[proyecto]    Script Date: 14/09/2025 17:07:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proyecto](
	[id_proyecto] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
	[descripcion] [varchar](255) NULL,
	[fecha_inicial] [date] NULL,
	[fecha_final] [date] NULL,
	[presupuesto] [decimal](12, 2) NULL,
	[horas] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_proyecto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[copia_actualizados_tablaUU] ([docente_id], [nombres], [titulo], [anios_experiencia], [direccion], [tipo_docente], [fecha_registro]) VALUES (12, N'Carlos Pérez', N'Magíster en Educación', 12, N'Calle 123', N'Tiempo Completo', CAST(N'2025-09-14T16:50:54.010' AS DateTime))
GO
INSERT [dbo].[copia_eliminados_tablaDD] ([docente_id], [nombres], [titulo], [anios_experiencia], [direccion], [tipo_docente], [fecha_registro]) VALUES (4, N'Carlos Ramírez', N'Magíster en Matemáticas', 12, N'Calle 45 #12-34', N'Planta', CAST(N'2025-09-14T16:54:26.260' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[docentes] ON 

INSERT [dbo].[docentes] ([docente_id], [nombres], [titulo], [anios_experiencia], [direccion], [tipo_docente]) VALUES (5, N'Pedro Sánchez', N'Especialista en Estadística', 12, N'Carrera 45 #56-78', N'Medio Tiempo')
INSERT [dbo].[docentes] ([docente_id], [nombres], [titulo], [anios_experiencia], [direccion], [tipo_docente]) VALUES (6, N'Carlos Pérez', N'Magíster en Matemáticas', 10, N'Calle 123 #45-67', N'Tiempo Completo')
INSERT [dbo].[docentes] ([docente_id], [nombres], [titulo], [anios_experiencia], [direccion], [tipo_docente]) VALUES (7, N'Ana Gómez', N'Doctora en Educación', 15, N'Carrera 12 #34-56', N'Catedrático')
SET IDENTITY_INSERT [dbo].[docentes] OFF
GO
SET IDENTITY_INSERT [dbo].[proyecto] ON 

INSERT [dbo].[proyecto] ([id_proyecto], [nombre], [descripcion], [fecha_inicial], [fecha_final], [presupuesto], [horas]) VALUES (4, N'Sistema de Gestión Académica', N'Actualización de plataforma educativa', CAST(N'2025-01-01' AS Date), CAST(N'2025-12-31' AS Date), CAST(25000000.00 AS Decimal(12, 2)), 500)
INSERT [dbo].[proyecto] ([id_proyecto], [nombre], [descripcion], [fecha_inicial], [fecha_final], [presupuesto], [horas]) VALUES (5, N'Análisis de Datos Educativos', N'Big Data aplicado a evaluaciones', CAST(N'2025-01-20' AS Date), CAST(N'2025-11-15' AS Date), CAST(3000000.00 AS Decimal(12, 2)), 400)
INSERT [dbo].[proyecto] ([id_proyecto], [nombre], [descripcion], [fecha_inicial], [fecha_final], [presupuesto], [horas]) VALUES (6, N'Sistema de Biblioteca', N'Plataforma para gestión de préstamos y usuarios', CAST(N'2025-01-15' AS Date), CAST(N'2025-06-30' AS Date), CAST(4500000.00 AS Decimal(12, 2)), 600)
SET IDENTITY_INSERT [dbo].[proyecto] OFF
GO
ALTER TABLE [dbo].[copia_actualizados_tablaUU] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[copia_eliminados_tablaDD] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
/****** Object:  StoredProcedure [dbo].[sp_delete_docente]    Script Date: 14/09/2025 17:07:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Eliminar
CREATE PROCEDURE [dbo].[sp_delete_docente]
    @docente_id INT
AS
BEGIN
    DELETE FROM docentes WHERE docente_id = @docente_id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_delete_proyecto]    Script Date: 14/09/2025 17:07:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_delete_proyecto]
    @id_proyecto INT
AS
BEGIN
    DELETE FROM dbo.proyecto 
    WHERE id_proyecto = @id_proyecto;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_get_docente]    Script Date: 14/09/2025 17:07:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Consultar
CREATE PROCEDURE [dbo].[sp_get_docente]
    @docente_id INT
AS
BEGIN
    SELECT * FROM docentes WHERE docente_id = @docente_id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_get_proyecto]    Script Date: 14/09/2025 17:07:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_get_proyecto]
    @Id_proyecto INT
AS
BEGIN
    SELECT * 
    FROM dbo.proyecto
    WHERE Id_proyecto = @Id_proyecto;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_insert_docente]    Script Date: 14/09/2025 17:07:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_insert_docente]
    @nombres VARCHAR(100),
    @titulo VARCHAR(100),
    @anios_experiencia INT,
    @direccion VARCHAR(200),
    @tipo_docente VARCHAR(50)
AS
BEGIN
    INSERT INTO dbo.docentes (nombres, titulo, anios_experiencia, direccion, tipo_docente)
    VALUES (@nombres, @titulo, @anios_experiencia, @direccion, @tipo_docente);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_insert_proyecto]    Script Date: 14/09/2025 17:07:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_insert_proyecto]
    @nombre VARCHAR(100),
    @descripcion VARCHAR(255),
    @fecha_inicial DATE,
    @fecha_final DATE,
    @presupuesto DECIMAL(12,2),
    @horas INT
AS
BEGIN
    INSERT INTO dbo.proyecto (nombre, descripcion, fecha_inicial, fecha_final, presupuesto, horas)
    VALUES (@nombre, @descripcion, @fecha_inicial, @fecha_final, @presupuesto, @horas);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_update_docente]    Script Date: 14/09/2025 17:07:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_update_docente]
    @docente_id INT,
    @nombres VARCHAR(100),
    @titulo VARCHAR(100),
    @anios_experiencia INT,
    @direccion VARCHAR(200),
    @tipo_docente VARCHAR(50)
AS
BEGIN
    UPDATE dbo.docentes
    SET nombres = @nombres,
        titulo = @titulo,
        anios_experiencia = @anios_experiencia,
        direccion = @direccion,
        tipo_docente = @tipo_docente
    WHERE docente_id = @docente_id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_update_proyecto]    Script Date: 14/09/2025 17:07:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_update_proyecto]
    @proyecto_id INT,
    @nombre VARCHAR(100),
    @descripcion VARCHAR(255),
    @fecha_inicial DATE,
    @fecha_final DATE,
    @presupuesto DECIMAL(12,2),
    @horas INT
AS
BEGIN
    UPDATE dbo.proyecto
    SET nombre = @nombre,
        descripcion = @descripcion,
        fecha_inicial = @fecha_inicial,
        fecha_final = @fecha_final,
        presupuesto = @presupuesto,
        horas = @horas
    WHERE id_proyecto = @proyecto_id;  -- así está definida tu PK
END;
GO
USE [master]
GO
